body {
    background-color: #ffe5b9;

}

#container {
    background-color: #ffd4b9;
    border: 5px solid #ffc4b9;
    height: 275px;
    width: 750px;
    margin: 0 auto;
    text-align: center;

}
#btn{
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 20px;
    background-color: #e6a379;
}

#output {
    margin: 25px auto;
    font-size: 26px;
 
}